<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus tracker App</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
</head>

<body>
<!--set an attribute in the controller, and looked it up on the template-->
<p th:text="${testName}"></p>

<table>
    <tr>
        <th>Country</th> 
        <th>State</th>
        <th>Total cases reported</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.latestTotalCases}"></td>
    </tr>
</table>

</body>
</html>

